:root{
	--mainColor:#6effd1;
	--secondaryColor:#42fdc2;

	--borderColor:#161914;

	--mainText:rgb(129, 129, 129);
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
